* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #202124;
  color: white;
}

.navbar-container {
  width: 100%;
  margin-inline: auto;

  display: flex;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 4px solid #daa920;

  z-index: 9999;
}

.navbar-container > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-container input[type="text"] {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid #daa920;
  border-radius: 6px;
  width: 250px;
  height: 35px;
  margin: 10px;
}

.navbar-container input[type="text"]:focus {
  outline: none;
  border-color: #daa920;
  box-shadow: 0 0 8px rgba(222, 186, 25, 0.5);
}

main {
  width: 70%;
  min-height: 200px;
  padding: 2rem 4rem;
  margin-inline: auto;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  background-color: transparent;
  color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
}

textarea {
  height: 200px;
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: #aaa;
  font-weight: bold;
}

.btn-create {
  display: flex;
  padding: 10px;
  background-color: #daa920;
  width: fit-content;
  height: 35px;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: auto;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}

button img {
  width: 22px;
  height: 22px;
}

.btn-create:hover {
  background-color: #d49d07;
}

.form-add {
  width: 60%;
  justify-self: center;
  border: 3px solid;
  border-radius: 5px;
  padding: 15px 15px 0px 15px;
  margin-bottom: 20px;
  border-color: #daa920;
}

.note-input-title-char-limit {
  font-size: 14px;
  text-align: right;
  color: #aaa;
}

.status-note-title {
  margin-bottom: 20px;
  margin-top: 50px;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  justify-self: center;
}

.notes-list-empty-message {
  text-align: center;
  color: #aaa;
}

.note-item {
  border: 2px solid #daa920;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-between;
  position: relative;
}

.note-item-content {
  padding: 12px;
  flex: 1;
  overflow: auto;
  align-self: stretch;
  padding-bottom: 100px;
}

.note-item-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
}

.note-item-date {
  font-size: 12px;
  margin-top: 8px;
  color: #aaa;
}

.note-item-body {
  font-size: 14px;
  margin-top: 10px;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
  color: #aaa;
}

.btn-add {
  padding: 10px;
  background-color: #daa920;
  width: 70px;
  height: 35px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
}

.btn-add:hover {
  background-color: #d49d07;
}

.btn-close {
  padding: 10px;
  background-color: #f43333;
  width: fit-content;
  height: 35px;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.btn-close:hover {
  background-color: #f11414;
}

.btn-group {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-left: auto;
  margin-bottom: 15px;
}

.btn-icon-group {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.note-item-delete-button {
  padding: 10px;
  background-color: transparent;
  border-top: 2px solid #daa920;
  border-right: 2px solid #daa920;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.note-item-delete-button:hover {
  background-color: #f11414;
}

.note-item-archive-button {
  padding: 10px;
  background-color: transparent;
  border-top: 2px solid #daa920;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  flex: 1;
  text-align: center;
}

.note-item-archive-button:hover {
  background-color: #d49d07;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
